<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full p-4">
        <a routerLink="../">
            <div class="m-2 text-2xl">
                <ion-icon name="arrow-back-outline" class="p-2"></ion-icon>
                <span class="text-base p-2 font-bold">戻る</span>
            </div>
        </a>
        <div class="flex align-middle">
            <img src="../../../../../assets/user-icon/user-icon.png" class="w-20 h-20 rounded-full inline-block">
            <h2 class="text-3xl font-bold p-6">{{yourInfo.username}}さん</h2>
        </div>
        <h1 class="mt-4 mb-2 text-2xl font-bold">とマッチング</h1>
        <h1 class="mt-2 mb-4 text-2xl font-bold">共通の話題：</h1>
        <div class="w-full flex flex-wrap justify-center">
            <div *ngFor='let fav of yourFavorite'>
                <div class="badge badge-ghost m-2">{{fav}}</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-full mt-4" routerLink="./share">解散</button>
    </div>
</ion-content>