<h1 class="mt-4 mb-4 text-3xl font-bold">目的地を選択</h1>
<div class="relative w-full h-1/2">
  <google-map width="100%" height="100%" [options]="options" (mapClick)="setMarker($event)">
    <button (click)="setCurrentPosition()"
      class="absolute top-1 left-1/2 transform -translate-x-1/2 bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow">現在地</button>
    <map-marker *ngIf="markerPosition" [position]="markerPosition">
    </map-marker>
  </google-map>
</div>
<h2 class="mt-4 mb-2 text-2xl font-bold">選んだ場所</h2>
<h2 class="mt-2 mb-4 text-2xl font-bold">{{distLocation}}</h2>
<button [disabled]="!markerPosition" type="submit" class="btn bg-blue-500 hover:bg-blue-600 w-full mt-4"
  routerLink="./check">決定</button>