<ion-header>
  <ion-toolbar>
      <ion-title>
          <div class="text-center">
              <h1 class="text-3xl">KASAnaru</h1>
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full p-4">
      <a routerLink="../">
          <div class="m-2 text-2xl">
              <ion-icon name="arrow-back-outline" class="p-2"></ion-icon>
              <span class="text-base p-2 font-bold">戻る</span>
          </div>
      </a>
      <h1 class="mt-4 mb-4 text-3xl font-bold">目的地に着いたあと<br/>時間が</h1>
      <div class="w-80 m-auto">
          <button type="submit" class="btn btn-primary w-full mt-4" routerLink="./matching" (click)="postLendAndBorrow(1)">ある</button>
          <button type="submit" class="btn btn-secondary w-full mt-4" routerLink="./matching" (click)="postLendAndBorrow(0)">ない</button>    
      </div>
  </div>
</ion-content>