<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full p-4">
        <h1 class="mt-4 mb-4 text-3xl font-bold">ユーザ情報</h1>
        <hr class="mt-4 mb-4">
        <div class="flex items-center flex-col">
            <img class="my-4 mx-auto w-24 h-24 rounded-full border border-gray-400 border-" style="border-width: 2px;"
                src="../../assets/user-icon/user-icon.png">
            <form action="/update" method="post">
                <div class="flex justify-center content-center my-2">
                    <p class="py-2 px-4">名前</p>
                    <input type="text" name="name" placeholder="名前" class="input input-bordered">
                </div>
                <div class="flex justify-center content-center my-2">
                    <p class="py-2 px-4">年齢</p>
                    <input type="text" name="age" placeholder="年齢" class="input input-bordered">
                </div>
                <div class="flex justify-center content-center my-2">
                    <p class="py-2 px-4">属性</p>
                    <input type="text" name="type" placeholder="属性" class="input input-bordered">
                </div>
                <p class="py-4">興味のあることを選択してください</p>
                <div class="p-2 card bordered">
                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox">
                            <span class="label-text">映画鑑賞</span>
                        </label>
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox">
                            <span class="label-text">アニメ</span>
                        </label>
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox">
                            <span class="label-text">勉強</span>
                        </label>
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox">
                            <span class="label-text">読書</span>
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-full mt-4">決定</button>
            </form>
        </div>
    </div>
</ion-content>