<ion-header>
    <ion-toolbar>
      <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full p-4">
        <h1 class="mt-4 mb-4 text-3xl font-bold">貢献度</h1>
        <hr class="mt-4 mb-4">
        <div class="card card-side bordered shadow-md mb-4 mt-4">
            <figure>
                <div class="w-32 h-32 flex flex-wrap justify-center items-center bg-blue-500">
                    <p class="text-4xl p-8 font-black text-white">100</p>
                </div>
            </figure> 
            <div class="card-body pb-2">
                <h2 class="card-title mb-0">あなたが減らした傘の数
                </h2>
            </div>
        </div>
        <div class="card card-side bordered shadow-md mb-4 mt-4">
            <figure>
                <div class="w-32 h-32 flex flex-wrap justify-center items-center bg-blue-500">
                    <p class="text-4xl p-8 font-black text-white">100</p>
                </div>
            </figure> 
            <div class="card-body pb-2">
                <h2 class="card-title mb-0">みんなが減らした傘の数
                </h2>
            </div>
        </div>
        <div class="card card-side bordered shadow-md mb-4 mt-4">
            <figure>
                <div class="w-32 h-32 flex flex-wrap justify-center items-center bg-red-400" style="min-width: 8rem;">
                    <p class="text-4xl p-8 font-black text-white text-center">10</p>
                </div>
            </figure> 
            <div class="card-body pb-2">
                <h2 class="card-title mb-0">あなたが借りた傘の本数
                </h2>
            </div>
        </div>    
    </div>
</ion-content>
