<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="w-full p-4">
        <a routerLink="../">
            <div class="m-2 text-2xl">
                <ion-icon name="arrow-back-outline" class="p-2"></ion-icon>
                <span class="text-base p-2 font-bold">戻る</span>
            </div>
        </a>
        <h1 class="mt-4 mb-4 text-3xl font-bold">マッチングしました！</h1>
        <h1 class="mt-4 mb-4 text-3xl">傘を持っている</h1>
        <div class="flex align-middle">
            <img src="../../../../../assets/user-icon/user-icon.png" class="w-20 h-20 rounded-full inline-block">
            <h2 class="text-3xl font-bold p-6">○○さん</h2>
        </div>
        <h1 class="mt-4 mb-4 text-2xl">が向かっています<br/>しばらくお待ちください</h1>
    </div>
  </ion-content>