<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full p-4">
        <a routerLink="../">
            <div class="m-2 text-2xl">
                <ion-icon name="arrow-back-outline" class="p-2"></ion-icon>
                <span class="text-base p-2 font-bold">戻る</span>
            </div>
        </a>
        <div class="w-full m-auto text-center">
            <h1 class="mt-4 mb-2 text-3xl font-bold">マッチング相手との相性</h1>
            <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#ffd700"
                defaultColor="#f4f4f4" readonly="false" rating="5" fontSize="56px">
            </ionic5-star-rating>
            <!-- <h1 class="mt-4 mb-4 text-2xl font-bold">結果をシェア</h1>
            <p class="mt-4 mb-2 text-xl">Twitter</p>
            <p class="mt-2 mb-2 text-xl">Facebook</p>
            <p class="mt-2 mb-4 text-xl">LINE</p> -->
            <button type="submit" class="btn bg-blue-500 hover:bg-blue-600 w-full mt-4"
                routerLink="/home">トップに戻る</button>
        </div>
    </div>
</ion-content>