<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="text-center">
                <h1 class="text-3xl">KASAnaru</h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full h-full p-4">
        <a routerLink="../">
            <div class="m-2 text-2xl">
                <ion-icon name="arrow-back-outline" class="p-2"></ion-icon>
                <span class="text-base p-2 font-bold">戻る</span>
            </div>
        </a>
        <app-destination-map></app-destination-map>
    </div>
</ion-content>